signup.html
<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>

	<form action="../controller/api/createUser.php" method="post">
		<div>
			<input type="text" name="name" placeholder="Name">
		</div>
		<div>
			<input type="email" name="email" placeholder="Email Address">
		</div>
		<div>
			<input type="password" name="password" placeholder="Password">
		</div>
		<div>
			<input type="date" name="birthday" placeholder="YYYY-MM-DD">
		<div>
			<input type="text" name="profession" placeholder="Profession.">
		</div>
		<div>
			<input type="text" name="bio" placeholder="Tell us a little about yourself.">
		</div>
		<div>
			<input type="submit" name="submit" value="Register">
		</div>
	</form>

	<p>Already a member of Ares?</p><a href="login.html"> Log In </a><p>right now!</p>

</body>
</html>