html, body {
  background-color: #f4f4f4;
  margin: auto;
  height: auto;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

.smallprofilepic{
  height:5%;
  width: 5%;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  max-width: 80%;
  max-height: 60%;
  margin: auto;
  text-align: center;
  border-radius: 3rem;
  margin-top: 30px;
  padding: 35px;
}

.comment-card {
  background-color: #EFF6E0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  max-width: 70%;
  max-height: 40%;
  margin: auto;
  text-align: center;
  border-radius: 3rem;
  margin-top: 30px;
  padding: 35px;
  font-style: italic;
}

.profile-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  max-width: 80%;
  max-height: 60%;
  margin: auto;
  text-align: center;
  border-radius: 3rem;
  margin-top: 30px;
  padding: 35px;
}

.info-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  max-width: 80%;
  margin: auto;
  justify-content: center;
  text-align: center;
  border-radius: 3rem;
  margin-top: 30px;
  padding: 35px;
}

.welcome-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  max-width: 80%;
  margin: auto;
  text-align: center;
  border-radius: 3rem;
  margin-top: 10px;
  padding-bottom: 30px;
  padding-top: 10px;
  padding-left: 25px;


}

.site-information{
  color: gray;
  text-align: left;
  font-size: 2vw;
  font-style: italic;

}

img {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 300px;
}

h1 {
  text-shadow: .5px .5px rgba(0, 0, 0, 0.5);
  padding-left: 25px;
  text-align: left;
  font-size: 55px;
  color: #51af9a;
  font-family: monospace;
}

.title {
  color: gray;
  text-align: left;
  font-size: 35px;
  font-style: italic;
}

.welcome {
  color: #008CBA;
  text-align: left;
  font-size: 3vw;
/*  max-width: 100%;
  max-height: 50%;*/
}

.createpostinfo {
  padding-left: 25px;
  text-align: left;
  font-size: 23px;
  color: gray;
  font-style: italic;
  font-family: monospace; 
}

p {
  padding-left: 25px;
  text-align: left;
  font-size: 23px;
  font-family: monospace; 
}

.btnfont {
  padding-left: 25px;
  font-size: 23px;
  font-family: monospace; 
}


a {
  text-decoration: none;
  color: white;
}

.profilelinks, .postlinks {

  text-decoration: none;
  color: #008CBA;

}

.btn {
  background-color: #008CBA;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
}

.homebtn {
  background-color: #008CBA;
  font-size: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
}

.btn:hover {
  opacity: 0.8;
}


#information{
  padding-bottom: 50px;
}
