html, body {
  background-color: #f4f4f4;
  margin: auto;
  height: auto;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  max-width: 80%;
  max-height: 60%;
  margin: auto;
  text-align: center;
  border-radius: 3rem;
  margin-top: 30px;
  padding: 35px;
}

.profile-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  max-width: 80%;
  max-height: 60%;
  margin: auto;
  text-align: center;
  border-radius: 3rem;
  margin-top: 30px;
  padding: 35px;
}

.info-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  max-width: 80%;
  margin: auto;
  justify-content: center;
  text-align: center;
  border-radius: 3rem;
  margin-top: 30px;
  padding: 35px;
}

.welcome-card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  max-width: 80%;
  margin: auto;
  text-align: center;
  border-radius: 3rem;
  margin-top: 10px;
  padding-bottom: 30px;
  padding-top: 10px;
  padding-left: 25px;


}

.site-information{
  color: gray;
  text-align: left;
  font-size: 2vw;
  font-style: italic;

}

img {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 300px;
}

h1 {
  text-shadow: .5px .5px rgba(0, 0, 0, 0.5);
  padding-left: 25px;
  text-align: left;
  font-size: 55px;
  color: #51af9a;
  font-family: monospace;
}

.title {
  color: gray;
  text-align: left;
  font-size: 35px;
  font-style: italic;
}

.welcome {
  color: #008CBA;
  text-align: left;
  font-size: 3vw;
/*  max-width: 100%;
  max-height: 50%;*/
}

.createpostinfo {
  padding-left: 25px;
  text-align: left;
  font-size: 23px;
  color: gray;
  font-style: italic;
  font-family: monospace; 
}

p {
  padding-left: 25px;
  text-align: left;
  font-size: 23px;
  font-family: monospace; 
}

.btnfont {
  padding-left: 25px;
  font-size: 23px;
  font-family: monospace; 
}


a {
  text-decoration: none;
  color: white;
}

.profilelinks {

  text-decoration: none;
  color: #008CBA;

}

.btn {
  background-color: #008CBA;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
}

.homebtn {
  background-color: #008CBA;
  font-size: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
}

.btn:hover {
  opacity: 0.8;
}


#information{
  padding-bottom: 50px;
}
