<!DOCTYPE html>
<html>
<head>
	<title>Change Password</title>
</head>
<body>
	<div>
		<form action="../controller/change_password.php" method="post">
			
			<b>Change password</b>
			<a href="newsfeed.php"><b style="font-style: italic;">Cancel</b></a>
			<hr>
			<div>
				Current Password
				<input type="password" name="oldpwd">
			</div>

			<div>
				New Password
				<input type="password" name="newpwd">
			</div>

			<div>
				Confirm New Password
				<input type="password" name="cnewpwd">
			</div>
			<hr>
			<input type="submit" name="submit" value="Change">
		</form>
	</div>
</body>
</html>