<!DOCTYPE html>
<html>
<head>
	<title>Change Password</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
	<div>
		<form action="../controller/change_password.php" method="post">
			
			<b>Change password</b>
			<a href="newsfeed.php"><b style="font-style: italic;">Cancel</b></a>
			<hr>
			<div>
				Current Password
				<input type="password" name="oldpwd" required>
			</div>

			<div>
				New Password
				<input type="password" name="newpwd" required>
			</div>

			<div>
				Confirm New Password
				<input type="password" name="cnewpwd" required>
			</div>
			<hr>
			<input type="submit" name="submit" value="Change">
		</form>
	</div>
</body>
</html>