<!DOCTYPE html>
<html>
<head>
	<title>Delete Account</title>
</head>
<body>
	<div>
		<form action="../controller/userApi/deleteUser.php" method="post">
			
			<b>Delete account</b>
			<a href="newsfeed.php"><b style="font-style: italic;">Cancel</b></a>
			<p><small>We are sad to see you go</small></p>

			<div>
				Confirm Email
				<input type="email" name="email">
			</div>

			<div>
				Confirm Password
				<input type="password" name="password">
			</div>

			<div>
				Confirm Password Again
				<input type="password" name="cpassword">
			</div>

			<input type="submit" name="submit" value="YES, I'M PERMANENTLY DELETING MY ACCOUNT">
		</form>
	</div>
</body>
</html>