<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div>

	<marquee><i><b>Welcome to dev-overflow</b></i><small>>Created by Kyal<</small></marquee>

	<form action="controller/login_validation.php" method="post">
		<p>Login</p>
		<hr>
		<div>
			Email
			<input type="email" name="email" required>
		</div>
		<br>
		<div>
			Password
			<input type="password" name="password" required>
		</div>
		
		<hr>
		
		<!--<div>-->
		<!--	<a href="forgetpasswordform.php" class="txt3">Forgot Password?</a>-->
		<!--</div>-->

		<hr>
		<div class="container-login100-form-btn">
			<input type="submit" name="submit" value="Login">
		</div>
	</form>
	<div>
		<p style="font-style: italic;">New here?<a href="views/signup.php" class="txt3">
			<b>Sign Up</b>
		</a></p>
	</div>
</div>